.card-list-done {
  margin-right: auto !important;
  text-align: center;
  max-width: 500px !important;
  min-width: 200px !important;
}

.enter-done {
  -webkit-animation: enter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: enter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.1s;
}
