.statistics-tag-container {
  /* border: 1px solid black; */
  border-bottom: 0px;
  min-height: 30vh;
}

.statistics-tag-total-container,
.statistics-tag-total-cards,
.statistics-tag-total-missed-cards {
  text-align: center;
  align-self: center;
  border-left: 1px solid rgb(224, 224, 231);
}
.statistics-tag-total-container {
  background-color: rgba(224, 224, 231, 0.3);
  border: 1px solid rgb(224, 224, 231);
}

.statistics-tag-todo-container,
.statistics-tag-doing-container,
.statistics-tag-done-container {
  justify-content: center;
  border: 1px solid black;
  border-bottom: 0px;
  /* border-right: 0px; */
  min-height: 271px;
  max-width: 500px !important;
  min-width: 200px !important;
  background-color: rgba(224, 224, 231, 0.3);
  border: 1px solid rgb(224, 224, 231);
}
.statistics-tag-todo-container {
  margin-left: auto;
}
.statistics-tag-doing-container {
  margin-left: auto;
  margin-right: auto;
}
.statistics-tag-done-container {
  margin-right: auto;
}

.statistics-tag-list-title {
  max-height: 20px;
  text-align: center;
  border-radius: 5px 5px 0px 0px !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  background-color: rgb(224, 224, 231) !important;
}

.enter-tag-statistics-todo {
  -webkit-animation: enter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: enter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s;
}

.enter-tag-statistics-doing {
  -webkit-animation: enter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: enter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.35s;
}

.enter-tag-statistics-done {
  -webkit-animation: enter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: enter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.4s;
}
