.timeline-chart-container {
  height: 91vh;
  width: 93%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y: auto; */
}

.timeline-chart {
  margin-right: auto !important;
  margin-left: auto !important;
}
