#board-list-page{
    max-width: 1100px;
    height: 94vh;
    margin-left: auto;
    margin-right: auto;
    border-left: 3px solid ghostwhite;
    border-right: 3px solid ghostwhite;
}

.board-list-container{
    margin: 0px !important;
}

.board-list-element{
    width: 200px;
    height: 200px;
}

.board-list-paper{
    
}