.card-lists-container{
    margin: 0px !important;
}

.card-list{
    background-color: rgba(224, 224, 231, 0.3) ;
    border: 1px solid rgb(224, 224, 231);
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    max-width: 500px !important; 
    min-width: 200px !important; 
    height: 88vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.card-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.card-list-todo{
    margin-left: auto !important;
    text-align: center;
    max-width: 500px !important; 
    min-width: 200px !important; 
}

.card-list-doing{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    max-width: 500px !important; 
    min-width: 200px !important; 
}

.card-list-done{
    margin-right: auto !important;
    text-align: center;
    max-width: 500px !important; 
    min-width: 200px !important; 
}

.card-list-element:hover{
    background-color: rgba(224, 224, 231, 0.1);
}

.card-list-header{
    border-radius: 5px 5px 0px 0px !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    width: 100%;
    margin: auto;
    background-color: rgb(224, 224, 231) !important;
}