.statistics-user-container {
  /* border: 1px solid black; */
  border-bottom: 0px;
  min-height: 45.5vh;
}

.statistics-user-total-container,
.statistics-user-total-cards,
.statistics-user-total-missed-cards {
  text-align: center;
  align-self: center;
}
.statistics-user-total-container {
  background-color: rgba(224, 224, 231, 0.3);
  border: 1px solid rgb(224, 224, 231);
}

.statistics-user-todo-container,
.statistics-user-doing-container,
.statistics-user-done-container {
  justify-content: center;
  border: 1px solid black;
  border-bottom: 0px;
  /* border-right: 0px; */
  min-height: 410px;
  max-width: 500px !important;
  min-width: 200px !important;
  background-color: rgba(224, 224, 231, 0.3);
  border: 1px solid rgb(224, 224, 231);
}
.statistics-user-todo-container {
  margin-left: auto;
}
.statistics-user-doing-container {
  margin-left: auto;
  margin-right: auto;
}
.statistics-user-done-container {
  margin-right: auto;
}

.statistics-user-list-title {
  max-height: 20px;
  text-align: center;
  border-radius: 5px 5px 0px 0px !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  background-color: rgb(224, 224, 231) !important;
}

.enter-user-statistics-todo {
  -webkit-animation: enter-user-statistics-todo 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: enter-user-statistics-todo 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.15s;
}
@-webkit-keyframes enter-user-statistics-todo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes enter-user-statistics-todo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.enter-user-statistics-doing {
  -webkit-animation: enter-user-statistics-doing 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: enter-user-statistics-doing 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
}
@-webkit-keyframes enter-user-statistics-doing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes enter-user-statistics-doing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.enter-user-statistics-done {
  -webkit-animation: enter-user-statistics-done 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: enter-user-statistics-done 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.25s;
}
@-webkit-keyframes enter-user-statistics-done {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes enter-user-statistics-done {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
